.dh.display {
  background: red;

  text {
    text-anchor: middle;
    dominant-baseline: central;
    font-size: 20px;
    fill: #0A3D60;
  }

  .bg {
    fill: #4DBBFA
  }

  .bg1 {
    fill: #5BC2FC;
  }

}
